@import "tailwindcss";

@theme {
  --color-page: #eef4f0;
  --color-card: #ffffff;
  --color-input: #f0faf4;

  --color-primary: #2d6a4f;
  --color-primary-dark: #1b4332;

  --color-muted-green: #52796f;
  --color-light-accent: #74c69d;
  --color-soft-mint: #95d5b2;

  --color-hover-surface: #d8f3dc;
  --color-border: #b7e4c7;

  --color-error: #e57373;
  --color-primary-text: #ffffff;
}

body {
  background-color: var(--color-page);
}
html {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
